<footer style="display: flex;
justify-content: center;
border-top-width: 1px;
padding-top: 16px;
padding-bottom: 16px;
padding-left: 50px;
padding-right: 30px;
font-size: 9px;
line-height: 9px;  font-family: Mali; width: 100%;">
    <div>Seite <span class="pageNumber"></span> von <span class="totalPages"></span></div>
</footer>