<p>Hallo {{.Name}},</p>
<p>Du hast dich gerade bei deinem Konto angemeldet. Um den Login-Vorgang abzuschließen, gib bitte den folgenden
    Sicherheitscode ein:</p>
<p style="font-size: 24px; font-weight: bold; text-align: center; padding: 20px;">{{.OTPCode}}</p>
<p>Dieser Code ist nur für die nächsten 5 Minuten gültig.</p>
<p>Aus Sicherheitsgründen solltest du diesen Code mit niemandem teilen.</p>
<p>Viele Grüße<br/>Dokedu Team</p>
