<p>Hallo {{.Name}},</p>
<p>Du bist eingeladen, der {{.OrganisationName}} auf Dokedu beizutreten! Erstelle dein Konto, indem du dem untenstehenden Link folgst.</p>
<p><a href="{{.Link}}">Werde Mitglied bei {{.OrganisationName}} auf Dokedu</a></p>
<p>Viele Grüße,</p>
<p>Dokedu Team</p>
