<p>Hi {{.Name}},</p>
<p>You're invited to join {{.OrganisationName}} on Dokedu! Create your account by following link below.</p>
<p><a href="{{.Link}}">Join {{.OrganisationName}} on Dokedu</a></p>
<p>Regards,</p>
<p>Dokedu Team</p>
