 <p>Hallo {{.Name}},</p>
<p>Jemand hat einen Link angefordert, um dein Passwort zu ändern. Du kannst dies über den unten stehenden Link tun.</p>
<p><a href="{{.Link}}">Mein Passwort ändern</a></p>
<p>Wenn du das nicht angefordert hast, ignoriere bitte diese E-Mail.</p>
<p>Dein Passwort wird sich erst ändern, wenn du über den Link oben ein neues erstellst.</p>
<p>Grüß Gott,</p>
<p>Dokedu Team</p>
