@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
}

* {
  @apply !cursor-default;
}

.slide-enter-from,
.slide-leave-to {
  transform: scaleY(0);
  opacity: 0;
}
