<p>Hello {{.Name}},</p>
<p>You are currently trying to log in to your account. To complete the login process, please enter the following
    security code:</p>
<p style="font-size: 24px; font-weight: bold; text-align: center; padding: 20px;">{{.OTPCode}}</p>
<p>This code is valid for the next 5 minutes only.</p>
<p>For security reasons, do not share this code with anyone.</p>
<p>Best regards,<br/>Dokedu Team</p>
