<div id="entry-fgIPqmYFPk" class="border-b-2 border-gray-100 py-4">
    <div class="mb-4">Heute in der Projektwerkstatt habe ich Max' beeindruckende Neugierde und seinen
        Lerneifer beobachtet. Er zeigte hervorragende Problemlösungsfähigkeiten, großartige Teamwork- und
        Kooperationsfähigkeiten und entwickelte ein neues Selbstvertrauen. Max' Entwicklung in diesen
        Bereichen ist bemerkenswert und ich bin gespannt, wie sie sich weiter entwickeln.</div>
    <div class="text-sm">Erstellt am <span class="font-semibold">1. Juni 2023 um 12:00</span> von <span
            class="font-semibold">Fred Heinrich</span> für den <span class="font-semibold">1. Juni 2023</span>.
    </div>
    <div class="mt-4 flex flex-col gap-2">
        <div class="rounded-lg border-2 border-gray-100 px-2 pb-2">
            <div class="mb-1 flex items-baseline justify-between">
                <div class="text-sm">Ich kann das kleine Einmaleins mit den angekreuzten Zahlen auswendig: 1
                    2 3 4 5 6 7 8 9</div>
                <div class="flex items-center">
                    <div class="flex items-center justify-center rounded-lg p-1" title="Stufe 1">
                        <div class="flex h-[16px] w-[16px] items-end space-x-0.5">
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[5px] w-full rounded-lg bg-blue-600"></div>
                            </div>
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[10px] w-full rounded-lg bg-blue-600"></div>
                            </div>
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[16px] w-full rounded-lg bg-gray-300"></div>
                            </div>
                        </div>
                    </div>

                    <!---->
                </div>
            </div>
            <div class="flex flex-wrap items-center text-sm text-gray-700">
                <div class="mr-1 flex items-baseline gap-1">
                    <div class="m-0 rounded-lg bg-gray-100 px-1 py-0.5 text-xs">Mathe</div>
                    <span>/</span>
                    <div class="m-0 rounded-lg bg-gray-100 px-2 py-0.5 text-xs">Das Zahlenzelt bis 100</div>
                    <div class="min-w-[max-content] rounded-lg bg-blue-100 px-1 py-0.5 text-xs text-blue-900">
                        1 - 4</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="entry-fgIPqmYFPk" class="py-4">
    <div class="mb-4">Heute in der Projektwerkstatt fielen Emmas Begeisterung und ihr Engagement auf. Sie
        ging die Herausforderungen mit einer positiven Einstellung an und zeigte außergewöhnliche
        Problemlösungsfähigkeiten. Emma bewies auch hervorragende Kommunikation und Zusammenarbeit und trug
        aktiv zum Gruppenprojekt bei. Ihr Wachstum in diesen Bereichen und ihr Selbstvertrauen sind
        bemerkenswert. Ich freue mich darauf, Emmas weitere Entwicklung in der Werkstatt zu beobachten.
    </div>
    <div class="text-sm">Erstellt am <span class="font-semibold">1. Juni 2023 um 12:00</span> von <span
            class="font-semibold">Fred Heinrich</span> für den <span class="font-semibold">1. Juni 2023</span>.
    </div>
    <div class="mt-4 flex flex-col gap-2">
        <div class="rounded-lg border-2 border-gray-100 px-2 pb-2">
            <div class="mb-1 flex items-baseline justify-between">
                <div class="text-sm">Ich kann das kleine Einmaleins mit den angekreuzten Zahlen auswendig: 1
                    2 3 4 5 6 7 8 9</div>
                <div class="flex items-center">
                    <div class="flex items-center justify-center rounded-lg p-1" title="Stufe 1">
                        <div class="flex h-[16px] w-[16px] items-end space-x-0.5">
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[5px] w-full rounded-lg bg-blue-600"></div>
                            </div>
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[10px] w-full rounded-lg bg-blue-600"></div>
                            </div>
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[16px] w-full rounded-lg bg-gray-300"></div>
                            </div>
                        </div>
                    </div>

                    <!---->
                </div>
            </div>
            <div class="flex flex-wrap items-center text-sm text-gray-700">
                <div class="mr-1 flex items-baseline gap-1">
                    <div class="m-0 rounded-lg bg-gray-100 px-1 py-0.5 text-xs">Mathe</div>
                    <span>/</span>
                    <div class="m-0 rounded-lg bg-gray-100 px-2 py-0.5 text-xs">Das Zahlenzelt bis 100</div>
                    <div class="min-w-[max-content] rounded-lg bg-blue-100 px-1 py-0.5 text-xs text-blue-900">
                        1 - 4</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="entry-fgIPqmYFPk" class="py-4">
    <div class="mb-4">Heute in der Projektwerkstatt fielen Emmas Begeisterung und ihr Engagement auf. Sie
        ging die Herausforderungen mit einer positiven Einstellung an und zeigte außergewöhnliche
        Problemlösungsfähigkeiten. Emma bewies auch hervorragende Kommunikation und Zusammenarbeit und trug
        aktiv zum Gruppenprojekt bei. Ihr Wachstum in diesen Bereichen und ihr Selbstvertrauen sind
        bemerkenswert. Ich freue mich darauf, Emmas weitere Entwicklung in der Werkstatt zu beobachten.
    </div>
    <div class="text-sm">Erstellt am <span class="font-semibold">1. Juni 2023 um 12:00</span> von <span
            class="font-semibold">Fred Heinrich</span> für den <span class="font-semibold">1. Juni 2023</span>.
    </div>
    <div class="mt-4 flex flex-col gap-2">
        <div class="rounded-lg border-2 border-gray-100 px-2 pb-2">
            <div class="mb-1 flex items-baseline justify-between">
                <div class="text-sm">Ich kann das kleine Einmaleins mit den angekreuzten Zahlen auswendig: 1
                    2 3 4 5 6 7 8 9</div>
                <div class="flex items-center">
                    <div class="flex items-center justify-center rounded-lg p-1" title="Stufe 1">
                        <div class="flex h-[16px] w-[16px] items-end space-x-0.5">
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[5px] w-full rounded-lg bg-blue-600"></div>
                            </div>
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[10px] w-full rounded-lg bg-blue-600"></div>
                            </div>
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[16px] w-full rounded-lg bg-gray-300"></div>
                            </div>
                        </div>
                    </div>

                    <!---->
                </div>
            </div>
            <div class="flex flex-wrap items-center text-sm text-gray-700">
                <div class="mr-1 flex items-baseline gap-1">
                    <div class="m-0 rounded-lg bg-gray-100 px-1 py-0.5 text-xs">Mathe</div>
                    <span>/</span>
                    <div class="m-0 rounded-lg bg-gray-100 px-2 py-0.5 text-xs">Das Zahlenzelt bis 100</div>
                    <div class="min-w-[max-content] rounded-lg bg-blue-100 px-1 py-0.5 text-xs text-blue-900">
                        1 - 4</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="entry-fgIPqmYFPk" class="py-4">
    <div class="mb-4">Heute in der Projektwerkstatt fielen Emmas Begeisterung und ihr Engagement auf. Sie
        ging die Herausforderungen mit einer positiven Einstellung an und zeigte außergewöhnliche
        Problemlösungsfähigkeiten. Emma bewies auch hervorragende Kommunikation und Zusammenarbeit und trug
        aktiv zum Gruppenprojekt bei. Ihr Wachstum in diesen Bereichen und ihr Selbstvertrauen sind
        bemerkenswert. Ich freue mich darauf, Emmas weitere Entwicklung in der Werkstatt zu beobachten.
    </div>
    <div class="text-sm">Erstellt am <span class="font-semibold">1. Juni 2023 um 12:00</span> von <span
            class="font-semibold">Fred Heinrich</span> für den <span class="font-semibold">1. Juni 2023</span>.
    </div>
    <div class="mt-4 flex flex-col gap-2">
        <div class="rounded-lg border-2 border-gray-100 px-2 pb-2">
            <div class="mb-1 flex items-baseline justify-between">
                <div class="text-sm">Ich kann das kleine Einmaleins mit den angekreuzten Zahlen auswendig: 1
                    2 3 4 5 6 7 8 9</div>
                <div class="flex items-center">
                    <div class="flex items-center justify-center rounded-lg p-1" title="Stufe 1">
                        <div class="flex h-[16px] w-[16px] items-end space-x-0.5">
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[5px] w-full rounded-lg bg-blue-600"></div>
                            </div>
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[10px] w-full rounded-lg bg-blue-600"></div>
                            </div>
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[16px] w-full rounded-lg bg-gray-300"></div>
                            </div>
                        </div>
                    </div>

                    <!---->
                </div>
            </div>
            <div class="flex flex-wrap items-center text-sm text-gray-700">
                <div class="mr-1 flex items-baseline gap-1">
                    <div class="m-0 rounded-lg bg-gray-100 px-1 py-0.5 text-xs">Mathe</div>
                    <span>/</span>
                    <div class="m-0 rounded-lg bg-gray-100 px-2 py-0.5 text-xs">Das Zahlenzelt bis 100</div>
                    <div class="min-w-[max-content] rounded-lg bg-blue-100 px-1 py-0.5 text-xs text-blue-900">
                        1 - 4</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="entry-fgIPqmYFPk" class="py-4">
    <div class="mb-4">Heute in der Projektwerkstatt fielen Emmas Begeisterung und ihr Engagement auf. Sie
        ging die Herausforderungen mit einer positiven Einstellung an und zeigte außergewöhnliche
        Problemlösungsfähigkeiten. Emma bewies auch hervorragende Kommunikation und Zusammenarbeit und trug
        aktiv zum Gruppenprojekt bei. Ihr Wachstum in diesen Bereichen und ihr Selbstvertrauen sind
        bemerkenswert. Ich freue mich darauf, Emmas weitere Entwicklung in der Werkstatt zu beobachten.
    </div>
    <div class="text-sm">Erstellt am <span class="font-semibold">1. Juni 2023 um 12:00</span> von <span
            class="font-semibold">Fred Heinrich</span> für den <span class="font-semibold">1. Juni 2023</span>.
    </div>
    <div class="mt-4 flex flex-col gap-2">
        <div class="rounded-lg border-2 border-gray-100 px-2 pb-2">
            <div class="mb-1 flex items-baseline justify-between">
                <div class="text-sm">Ich kann das kleine Einmaleins mit den angekreuzten Zahlen auswendig: 1
                    2 3 4 5 6 7 8 9</div>
                <div class="flex items-center">
                    <div class="flex items-center justify-center rounded-lg p-1" title="Stufe 1">
                        <div class="flex h-[16px] w-[16px] items-end space-x-0.5">
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[5px] w-full rounded-lg bg-blue-600"></div>
                            </div>
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[10px] w-full rounded-lg bg-blue-600"></div>
                            </div>
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[16px] w-full rounded-lg bg-gray-300"></div>
                            </div>
                        </div>
                    </div>

                    <!---->
                </div>
            </div>
            <div class="flex flex-wrap items-center text-sm text-gray-700">
                <div class="mr-1 flex items-baseline gap-1">
                    <div class="m-0 rounded-lg bg-gray-100 px-1 py-0.5 text-xs">Mathe</div>
                    <span>/</span>
                    <div class="m-0 rounded-lg bg-gray-100 px-2 py-0.5 text-xs">Das Zahlenzelt bis 100</div>
                    <div class="min-w-[max-content] rounded-lg bg-blue-100 px-1 py-0.5 text-xs text-blue-900">
                        1 - 4</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="entry-fgIPqmYFPk" class="py-4">
    <div class="mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima quod similique cumque dolor
        aperiam nostrum ad quasi. Quo maiores nesciunt doloribus eligendi, tempora ratione quasi architecto itaque
        praesentium incidunt eos et impedit quidem quia quisquam rerum officia ipsum. Quasi exercitationem voluptatem,
        voluptates voluptate hic ad ipsum totam assumenda eos magnam quod qui ullam tenetur autem? Laboriosam quisquam,
        earum facilis at quam animi dolorum eaque obcaecati nostrum beatae rem porro quaerat corporis debitis odit nam
        odio quos similique. Voluptatibus cupiditate eum quas itaque ipsam animi iure beatae veniam magnam autem quos
        minus voluptates cum asperiores, expedita quibusdam quia ducimus ex porro, corporis aperiam magni provident
        numquam? Veniam, illo quaerat? Officia, quisquam excepturi natus sapiente, ducimus esse aspernatur saepe et
        labore harum quis! Quis quod, nisi blanditiis necessitatibus ipsam eum perferendis repellendus provident eveniet
        delectus natus, neque facere, distinctio placeat praesentium assumenda laudantium voluptates rem voluptas quia
        omnis ab pariatur! Incidunt expedita ex repellat quasi, sint ipsum officia? Deserunt aspernatur in doloremque
        sint? Officia, consequuntur quas! Eveniet, aliquid nobis? Ex magni aliquam dolorem expedita laborum magnam at
        neque necessitatibus vel laboriosam, harum minus voluptatibus recusandae aut odio quaerat, nemo ipsum est
        deleniti. Error ea itaque pariatur! Eligendi reiciendis, sunt fugiat a tempora officiis aliquid voluptatibus
        explicabo consequatur qui deserunt dolorum adipisci accusamus quae dolores voluptatum obcaecati maxime
        voluptatem dolore aut. A quasi provident quibusdam sunt! Voluptatum, nesciunt! Alias ipsum, nesciunt ab harum
        fugiat dolores ex expedita deserunt accusantium rerum voluptatibus magni illum repudiandae impedit consectetur,
        excepturi eligendi cumque suscipit! Excepturi, assumenda earum.
    </div>
    <div class="text-sm">Erstellt am <span class="font-semibold">1. Juni 2023 um 12:00</span> von <span
            class="font-semibold">Fred Heinrich</span> für den <span class="font-semibold">1. Juni 2023</span>.
    </div>
    <div class="mt-4 flex flex-col gap-2">
        <div class="rounded-lg border-2 border-gray-100 px-2 pb-2">
            <div class="mb-1 flex items-baseline justify-between">
                <div class="text-sm">Ich kann das kleine Einmaleins mit den angekreuzten Zahlen auswendig: 1
                    2 3 4 5 6 7 8 9</div>
                <div class="flex items-center">
                    <div class="flex items-center justify-center rounded-lg p-1" title="Stufe 1">
                        <div class="flex h-[16px] w-[16px] items-end space-x-0.5">
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[5px] w-full rounded-lg bg-blue-600"></div>
                            </div>
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[10px] w-full rounded-lg bg-blue-600"></div>
                            </div>
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[16px] w-full rounded-lg bg-gray-300"></div>
                            </div>
                        </div>
                    </div>

                    <!---->
                </div>
            </div>
            <div class="flex flex-wrap items-center text-sm text-gray-700">
                <div class="mr-1 flex items-baseline gap-1">
                    <div class="m-0 rounded-lg bg-gray-100 px-1 py-0.5 text-xs">Mathe</div>
                    <span>/</span>
                    <div class="m-0 rounded-lg bg-gray-100 px-2 py-0.5 text-xs">Das Zahlenzelt bis 100</div>
                    <div class="min-w-[max-content] rounded-lg bg-blue-100 px-1 py-0.5 text-xs text-blue-900">
                        1 - 4</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="entry-fgIPqmYFPk" class="py-4">
    <div class="mb-4">Heute in der Projektwerkstatt fielen Emmas Begeisterung und ihr Engagement auf. Sie
        ging die Herausforderungen mit einer positiven Einstellung an und zeigte außergewöhnliche
        Problemlösungsfähigkeiten. Emma bewies auch hervorragende Kommunikation und Zusammenarbeit und trug
        aktiv zum Gruppenprojekt bei. Ihr Wachstum in diesen Bereichen und ihr Selbstvertrauen sind
        bemerkenswert. Ich freue mich darauf, Emmas weitere Entwicklung in der Werkstatt zu beobachten.
    </div>
    <div class="text-sm">Erstellt am <span class="font-semibold">1. Juni 2023 um 12:00</span> von <span
            class="font-semibold">Fred Heinrich</span> für den <span class="font-semibold">1. Juni 2023</span>.
    </div>
    <div class="mt-4 flex flex-col gap-2">
        <div class="rounded-lg border-2 border-gray-100 px-2 pb-2">
            <div class="mb-1 flex items-baseline justify-between">
                <div class="text-sm">Ich kann das kleine Einmaleins mit den angekreuzten Zahlen auswendig: 1
                    2 3 4 5 6 7 8 9</div>
                <div class="flex items-center">
                    <div class="flex items-center justify-center rounded-lg p-1" title="Stufe 1">
                        <div class="flex h-[16px] w-[16px] items-end space-x-0.5">
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[5px] w-full rounded-lg bg-blue-600"></div>
                            </div>
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[10px] w-full rounded-lg bg-blue-600"></div>
                            </div>
                            <div class="flex h-full w-[4px] items-end">
                                <div class="h-[16px] w-full rounded-lg bg-gray-300"></div>
                            </div>
                        </div>
                    </div>

                    <!---->
                </div>
            </div>
            <div class="flex flex-wrap items-center text-sm text-gray-700">
                <div class="mr-1 flex items-baseline gap-1">
                    <div class="m-0 rounded-lg bg-gray-100 px-1 py-0.5 text-xs">Mathe</div>
                    <span>/</span>
                    <div class="m-0 rounded-lg bg-gray-100 px-2 py-0.5 text-xs">Das Zahlenzelt bis 100</div>
                    <div class="min-w-[max-content] rounded-lg bg-blue-100 px-1 py-0.5 text-xs text-blue-900">
                        1 - 4</div>
                </div>
            </div>
        </div>
    </div>
</div>